.container {
  width: 564px;
  justify-content: center;
}

.puzzle {
  width: 540px;
  height: 540px;
  margin-bottom: 1%;
}

.puzzle-container {
  display: flex;
  justify-content: center;
}

.gameButton {
  margin-right: 0.5%;
}

.gameButton {
  background-color: #d7f8da;
}

.size {
  float: right;
}

.difficulty {
  float: right;
}