.puzzle {
  width: 540px;
  height: 550px;
  margin-right: 3%;
}

.gameButton {
  margin-right: 0.5%;
}

.container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}

.gameButton {
  background-color: #d7f8da;
}

.size {
  float: right;
}

.puzzle-container {
  display: flex;
}

.form-select {
  margin-bottom: 5%;
}